<div>
    <h1>One way data binding using property</h1>
    <input type="text"/><br/>
    <input type="text" value="Nikhil"/><br/>
    <input type="text" value="lname"/><br/>
    <input type="text" [value]="lname"/><br/>
    <p innerText="lname"></p>
    <p [innerText]="lname"></p>
    <div [innerText]="lname"></div>
    {{lname}} <span [innerText]="lname"></span><br/>
    <input type="button" value="Click here"/><br/>
    <input type="button" value="Click here" disabled/><br/>


</div>
<p>property-binding works!</p>
